.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    height: 500px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    font-size: 36px;
    font-weight: bold;
    background-color: gold;
    color: black;
    margin: 30px;
}

button.reset {
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    background-color: goldenrod;
}

button:hover {
    background-color: lightgoldenrodyellow;
}